{% include "base.twig" %}

{%block body%}
    <div class="container">
        <h3>ESCPACE ADMINISTRATION</h3>
        <a href="/utilisateurs" class="outline" role="button">LISTE DES UTILISATEURS</a>
        <a href="/ajouter-utilisateur" class="outline contrast" role="button">AJOUTER DES UTILISATEURS</a>
    </div>
{%endblock%}