{% include "base.twig" %}

{%block body%}
    <div class="container">
        <h3>METTRE A JOUR UTILISATEUR</h3>
        <form method="post">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" value="{{unUtilisateur.email}}"  placeholder="email@eamil.fr" required>

            <label for="password">Mot de passe</label>
            <input type="password" id="password" name="password" value="{{unUtilisateur.password}}" placeholder="Mot2P@sse" required>
            <!-- Button -->
            <button type="submit">Mettre à jour</button>
            <a href="/utilisateurs" class="outline" role="button">Retour</a>
        </form>
    </div>
{%endblock%}